
.custom-line{
    border: none;
    border-top: 1px solid_#ddd; /* Adjust color here */
    width: 90%; /* Adjust width here */
    margin: 20px auto; /* Center and add space above/below */
}

.art-week-img {
    width: 100px;
    height: 100px;
}

.news-thumnail {
    width: 100%;
    height: 300px;
}

.logo-text {
    font-size: 30px;
    margin: 0 30% 0 10%;
}

.navbar-list {
    font-size: 23px;
}

.news-title {
    font-size: 25px
}

.navbar-item {
    /* background-color: rgba(255, 255, 0, 0.237) !important; */
    background-color: red;
}